<!DOCTYPE html>
<html>
  <head>
    <title>KineBot</title>
    <link rel="shortcut icon" href="ici le nom de ton favicon.ico">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="header header-filter" style="background-image: url('static/img/robot-human-background.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="jumbotron">
          <h1>KineBot chat Demo</h1>
          <hr />
          <p> KineBot is a chatbot to diagnose strain injuries.</p>
          <p>You can tell him what you feel, then he will give you some advises.</p>
        </div>
        <form id="input-form" class="form-inline">
          <div class="form-group">
            <input id="input-handle" type="text" class="form-control" placeholder="Enter ID" autofocus />
          </div>
          <span class="input-group-addon">
           <i class="latin"> Tell us what you feel </i>
           </span>
          <div class="form-group">
            <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
          </div>
          <button class="btn btn-primary" type="submit">Send</button>
        </form>
        <div class="page-header">
          <h1>Chat Dialog</h1>
        </div>
        <div id="chat-text">
        </div>
      </div>
    </div>
    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
  </body>
</html>